@model IEnumerable<HomeCareAppointment.Models.Personnel>
@{
 ViewData["Title"] = "Personnel";
}
<h1>Personnel</h1>
<p>
 <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
 <thead>
 <tr>
 <th>Name</th>
 <th></th>
 </tr>
 </thead>
 <tbody>
 @foreach (var item in Model ?? Enumerable.Empty<HomeCareAppointment.Models.Personnel>())
 {
 <tr>
 <td>@item.Name</td>
 <td>
 <a class="btn btn-sm btn-outline-secondary btn-app-sm ms-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
 <a class="btn btn-sm btn-warning btn-app-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
 <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
 </td>
 </tr>
 }
 </tbody>
</table>
